body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #6e454f; /* Silent maroon color */
    overflow-x: hidden;
}

.header {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white */
    color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.header .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    transition: transform 0.5s;
    position: absolute;
    left: 10px;
}

.header .openbtn.transform {
    transform: rotate(45deg);
}

.header-title {
    margin: 0;
    font-size: 24px;
    animation: fadeIn 3s linear infinite;
    text-align: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.footer {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white */
    color: #333;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: 60px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Transparent white */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px; /* Rounded corners */
}

h2 {
    color: #333;
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
}

p {
    color: #555;
    text-align: justify;
    margin-bottom: 1.5em;
}

ul {
    color: #555;
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 1.5em;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }
    .header .openbtn {
        margin-bottom: 10px;
    }
    .container {
        margin: 20px;
        padding: 15px;
    }
    h2 {
        font-size: 1.5em;
    }
    p, ul {
        font-size: 0.9em;
    }
}
